.menu-sub-items .menu-sub-item {
}

.menu-sub-items .menu-sub-item:last-child {
  margin-bottom: 10px;
}

.menu .menu-item-link a, .menu .menu-sub-item a {
  color: #303030;
  text-decoration: none;
}

.menu .menu-item-link a:hover, .menu .menu-sub-item a:hover {
  text-decoration: none;
  color: #ffffff;
}

.menu .menu-item-link a {
}

.menu a.menu-item-link_active, .menu .menu-sub-item .menu-sub-item_active {
  color: #ffffff;
}

.menu-item-link_active:after {
  content: url('./images/expanded.png');
  vertical-align: 10%;
  margin-left: 5px;
}


